<h1>RSVP for <%= @cocktail[:name] %></h1>

<form action="/cocktails/<%= @cocktail[:id] %>/guests/create" method="POST">
  <div class="form-group">
    <label>Do you want an <%= @cocktail[:name] %>?</label>
    <select class="form-control" name="going">
      <option value="1">Yes</option>
      <option value="0">No</option>
    </select>
  </div>
  <div class="form-group">
    <label>Special Requests</label>
    <textarea class="form-control" rows="3" name="special_requests"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>