<h2>
    <i class="far fa-calendar-alt"></i>
    <%= @cocktail[:date] %>
</h2>
<h1>RSVP for <%= @cocktail[:title] %></h1>

<form action="/cocktails/<%= @cocktail[:id] %>/guests/create" method="POST">
  <div class="form-group">
    <label>Are you going?</label>
    <select class="form-control" name="going">
      <option value="1">Yes</option>
      <option value="0">No</option>
    </select>
  </div>
  <div class="form-group">
    <label>Special Requests</label>
    <textarea class="form-control" rows="3" name="special_requests"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>